#menu {
	position: relative;
	visibility: hidden;
	margin-left: 0px;
	padding-left: 5px;
	border: 1px solid black;
	width: 200px;
	height: 300px;
	list-style: none;
}

#toque_menu {
	font-size: 1.5em;
}

#toque_menu:hover {
	color: mediumturquoise;
	
}

#fechar_menu {
	background: red;
	color: white;
}

#menu li:hover {
	background: lightblue;
}

.primeiraDiv {
	margin-top: 100px;
	margin-left: 500px;
	position: absolute;
}

.segundaDiv {
	margin-top: 20px;
}

.terceiraDiv {
	margin-top: 50px;
	margin-left: 70px;
	text-align: center;
}

.borda_span {
	padding: 5px;
	border: 1px solid black;
	background: dodgerblue;
	color: white;
}

